<div>
  
    <h3>Lista tłumaczeń</h3>
    <form [formGroup]="editForm" (ngSubmit)="saveEdit()">
    <table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tekst źródłowy</th>
          <th>Tekst przetłumaczony</th>
          <th>Język źródłowy</th>
          <th>Język docelowy</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          @for (translation of translations;  track $index){    
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ translation.sourceText }}</td>
            <td>{{ translation.translatedText }}</td>
            <td>{{ translation.sourceLanguage }}</td>
            <td>{{ translation.targetLanguage }}</td>
            <td>{{ translation.createdAt | date: 'yyyy-MM-dd HH:mm' }}</td>  <!-- pipe, CommonModule -->
             
              <td>{{ translation._id }}</td>
              <button (click)="deleteTranslation(translation._id)">Usuń</button>
           <button (click)="saveEdit()">Zapisz</button>
           <button (click)="cancelEdit()">Edytuj</button>
          
          </tr>
        }
      </tbody>
    </table>
  </form>
  </div>
  