<div>
  
    <h3>Lista tłumaczeń</h3>
    <form [formGroup]="editForm">
    <table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tekst źródłowy</th>
          <th>Tekst przetłumaczony</th>
          <th>Język źródłowy</th>
          <th>Język docelowy</th>
          <th>Date</th>
          <th>Akcje</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          @for (translation of translations;  track $index){    
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ translation.sourceText }}</td>
            <td>{{ translation.translatedText }}</td>
            <td>{{ translation.sourceLanguage }}</td>
            <td>{{ translation.targetLanguage }}</td>
            <td>{{ translation.createdAt | date: 'yyyy-MM-dd HH:mm' }}</td>  <!-- pipe, CommonModule -->
             
              <td>{{ translation._id }}</td>
              <button (click)="startEditing(translation)">Edit</button>
              <button (click)="deleteTranslation(translation._id )">Delete</button>
          </tr>
        }
      </tbody>
    </table>
  </form>
  </div>
  
  <!-- Okno dialogowe -->
<div class="dialog-overlay" *ngIf="isDialogOpen">
  <div class="dialog">
    <h2>Edytuj tłumaczenie</h2>
    <form [formGroup]="editForm">
      <label for="sourceText">Tekst źródłowy:</label>
      <input id="sourceText" formControlName="sourceText" />

      <label for="translatedText">Tekst przetłumaczony:</label>
      <input id="translatedText" formControlName="translatedText" />

      <label for="sourceLanguage">Język źródłowy:</label>
      <input id="sourceLanguage" formControlName="sourceLanguage" />

      <label for="targetLanguage">Język docelowy:</label>
      <input id="targetLanguage" formControlName="targetLanguage" />

      <div class="dialog-actions">
        <button (click)="closeDialog()" type="button">Anuluj</button>
        <button (click)="saveEdit()" type="button">Zapisz</button>
      </div>
    </form>
  </div>
</div>
