<div class="languages-container">
    <h3>Languages list</h3>
    <form [formGroup]="form">
    <table class="languages-table">
      <thead>
        <tr>
          <th>ID</th>
          <th 
            [class.active-asc]="sortKey === 'code' && sortDirection === 'asc'" 
            [class.active-desc]="sortKey === 'code' && sortDirection === 'desc'" 
            (click)="sortTable('code')">
            Code
          </th>
          <th 
            [class.active-asc]="sortKey === 'name' && sortDirection === 'asc'" 
            [class.active-desc]="sortKey === 'name' && sortDirection === 'desc'" 
            (click)="sortTable('name')">
            Name
          </th>
          <th>Native name</th>  
          <th></th>
        </tr>
      </thead>
      <tbody>
          @for (language of languages;  track $index){    
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ language.code }}</td>
            <td>{{ language.name }}</td>
            <td>{{ language.nativeName }}</td>
            <td>
              <button (click)="deleteLanguage(language._id)">Delete</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </form>
  </div>