header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #050712;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: #f2f2f2;
  transition: 0.1s;
}

nav a:hover {
  color: #a4aacd;
}

h1 {
  font-size: 24px;
  margin: 10px;
  padding: 0;
  color: #f2f2f2;
}
  
.container button {
  border-radius: 5px;
  border: none;
  background-color: #5566c5;
  padding: 12px;
  color: #fff;
  transition: 0.1s;
  cursor:pointer;
  margin-left: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.container button:hover {
  background-color: #5c6cc5;
  /* transform: scale(1.02); */
  color: #a4aacd;
}