<header class="container">
    <h1>Translate-app</h1>
    <nav>
      <a routerLink="/translator" class="nav-link" routerLinkActive="active">Translate</a>
      
      @if (!authService.isLoggedIn()) {
        <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
        <a routerLink="/register" class="nav-link" routerLinkActive="active">Register</a>
      } @else {
        <a routerLink="/users/profile" class="nav-link" routerLinkActive="active">Profile</a>
        <!-- @if (authService.isAdmin()) { -->
          <a routerLink="/admin-dashboard" class="nav-link" routerLinkActive="active">Admin Panel</a>
          
        <!-- /} -->
        <button (click)="logout()" class="nav-link">Logout</button>
      }
    </nav>
  </header>
  