<div class="card">
    <h3>Dodaj nowe tłumaczenie</h3>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div>
        <label for="sourceText">Tekst źródłowy</label>
        <input id="sourceText" formControlName="sourceText" type="text" />
      </div>
      <div>
        <label for="translatedText">Tekst przetłumaczony</label>
        <input id="translatedText" formControlName="translatedText" type="text" />
      </div>
      <div>
        <label for="sourceLanguage">Język źródłowy</label>
        <input id="sourceLanguage" formControlName="sourceLanguage" type="text" />
      </div>
      <div>
        <label for="targetLanguage">Język docelowy</label>
        <input id="targetLanguage" formControlName="targetLanguage" type="text" />
      </div>
      <button type="submit" [disabled]="form.invalid">Dodaj tłumaczenie</button>
    </form>
  </div>
  