<!-- user.component.html -->
<div class="profile-container">
    @if (profile) {
      <h2>Your Profile</h2>
      <div class="profile-info">
        <p><strong>Username:</strong> {{profile.username}}</p>
        <!-- <p><strong>Role:</strong> {{profile.role}}</p> -->
      </div>
  
      @if (profile.translations.length > 0) {
        <div class="translations-history">
          <h3>Translation History</h3>
          <table>
            <thead>
              <tr>
                <th>Source Text</th>
                <th>Translated Text</th>
                <th>From</th>
                <th>To</th>
              </tr>
            </thead>
            <tbody>
              @for (translation of profile.translations; track translation._id) {
                <tr>
                  <td>{{translation.sourceText}}</td>
                  <td>{{translation.translatedText}}</td>
                  <td>{{translation.sourceLanguage}}</td>
                  <td>{{translation.targetLanguage}}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      } @else {
        <p>No translation history available.</p>
      }
    }
  </div>