.profile-container {
    max-width: 1200px;
    margin: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    width: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid #555; 
    border-radius: 8px; 
    overflow: hidden; 
}

th, td {
    padding: 5px;
    border: 1px solid #555; 
}
th {
    font-weight: bold;
}