<div class="card">
  <h3>Dodaj nowy język</h3>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="code">Kod języka</label>
      <input id="code" formControlName="code" type="text"  />
    </div>
    <div class="form-group">
      <label for="name">Nazwa języka</label>
      <input id="name" formControlName="name" type="text"/>
    </div>
    <div class="form-group">
      <label for="nativeName">Natywna nazwa języka</label>
      <input id="nativeName" formControlName="nativeName" type="text" />
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Dodaj język</button>
  </form>
</div>
